@charset "UTF-8";
/* CSS Document */

html,
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Gotham, Helvetica Neue, Helvetica, Arial, " sans-serif";
}

header {
  padding: 32px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

footer {
  padding: 20px 30px;
  background-color: #dbecf1;
}

body {
  margin-left: auto;
  margin-right: auto;
  background: #e6f4f8;
}

.style-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 8%;
}

.style-nav ul {
  list-style-type: none;
}

.style-nav ul li a {
  text-decoration: none;
  color: #2f322a;
  text-align: center;
  display: block;
  text-transform: uppercase;
  padding: 8px;
}

.home {
  background-color: cadetblue;
  background-size: cover;
  padding: 20px 20px 50px 20px;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 57px;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 60px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 23px;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 120px;
}

h4 {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 35px;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 35px;
}

.button {
  border: 2px #ffffff solid;
  padding: 8px 30px;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
}

.info-box-tan {
  background-color: #b9a88e;
  color: #ffffff;
  padding: 30px 20px 60px;
  text-align: center;
}

.info-box-dark {
  background-color: #2d2d35;
  color: #ffffff;
  padding: 30px 20px 60px;
  text-align: center;
}

.footer-text {
  font-size: 13px;
  margin-bottom: 20px;
}

.col {
  width: 100%;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.contact {
  font-size: 13px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  padding: 30px 20px 60px;
}

/*Tablet View*/

@media (min-width: 768px) {
  body {
    max-width: 778px;
  }

  .style-nav ul li {
    display: inline-block;
  }

  .style-nav ul {
    text-align: center;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 90px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .col-md-one-half {
    width: 50%;
  }

  .col {
    float: left;
    padding: 0px 7px 14px;
  }
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .col-25,
  .col-75,
  input[type="button"] {
    width: 100%;
    margin-top: 0;
  }
}

/*Desktop View*/

@media (min-width: 1024px) {
  body {
    max-width: 1200px;
  }

  .style-logo {
    float: left;
  }

  .style-nav {
    float: right;
  }

  .col-lg-one-fourth {
    width: 25%;
  }
}

/*Smart Device installitaion*/

.sdi {
  background-color: cadetblue;
  background-size: cover;
  padding: 20px 20px 50px 20px;
  color: #ffffff;
  text-align: center;
}

.sdi-form {
  background-color: burlywood;
  background-size: cover;
  padding: 20px 20px 50px 20px;
  color: #ffffff;
  text-align: center;
}

.input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: crimson;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type="button"] {
  background-color: crimson;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: crimson;
}
input[type="button"]:hover {
  background-color: crimson;
}

.container {
  border-radius: 6px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
* {
  box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="submit"] {
  background-color: cadetblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}
input[type="submit"]:hover {
  background-color: #172a2b;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
* {
  box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="submit"] {
  background-color: cadetblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}
input[type="submit"]:hover {
  background-color: #172a2b;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
#password-strength-status {
  border-radius: 4px;
  margin-top: 5px;
}
.medium-password {
  background-color: #e4db11;
  border: #bbb418 1px solid;
}
.weak-password {
  background-color: #ff6600;
  border: #aa4502 1px solid;
}
.strong-password {
  background-color: #12cc1a;
  border: #0fa015 1px solid;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #5f9ea0;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #5f9ea0;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f1f1f1;
}
#primary {
  background-color: #b9a88e;
}
#danger {
  background-color: #d54354;
}
#primary,
#danger {
  margin: 5px 0;
}
* {
  box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="submit"] {
  background-color: cadetblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}
input[type="submit"]:hover {
  background-color: #172a2b;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
